@use 'sass:math';
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin scrollBar(
    $col: 0,
    $width: 6px,
    $trackOpacity: 0.025,
    $thumbOpacity: 0.2,
    $thumbInactive: 0.2,
    $thumbHover: 0.25,
    $thumbActive: 0.4
) {
    &:hover {
        &::-webkit-scrollbar {
            width: #{$width};
            height: #{$width};
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($col, $col, $col, $thumbOpacity) !important;
        }
    }
    &::-webkit-scrollbar {
        background: rgba(0, 0, 0, 0) !important;
        width: #{$width};
        height: #{$width};
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0) !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        //background: rgba($col, $col, $col, $thumbOpacity);
        //background: rgba(0, 0, 0, 0) !important;
        background-color: inherit;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba($col, $col, $col, $thumbInactive);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba($col, $col, $col, $thumbHover);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba($col, $col, $col, $thumbActive);
    }
}

@mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
}

@mixin fixed-layout($index: 1000) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: #{$index};
}

@mixin pct($pct) {
    width: #{$pct};
    position: relative;
    margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
    $width: $width/2;
    $color-border-style: $height solid $color;
    $transparent-border-style: $width solid transparent;
    height: 0;
    width: 0;

    @if $direction==up {
        border-bottom: $color-border-style;
        border-left: $transparent-border-style;
        border-right: $transparent-border-style;
    }

    @else if $direction==right {
        border-left: $color-border-style;
        border-top: $transparent-border-style;
        border-bottom: $transparent-border-style;
    }

    @else if $direction==down {
        border-top: $color-border-style;
        border-left: $transparent-border-style;
        border-right: $transparent-border-style;
    }

    @else if $direction==left {
        border-right: $color-border-style;
        border-top: $transparent-border-style;
        border-bottom: $transparent-border-style;
    }
}

// 背景图片
@mixin bg-image($url) {
    background-image: url($url + '@2x.png');

    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + '@3x.png');
    }
}

//多行溢出
@mixin text-overflow($line, $fixed-width: true) {
    @if ($line == 1 and $fixed-width == true) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    } @else {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: $line;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        word-break: break-all;
    }
}

@mixin background-opacity($color, $opacity) {
    background: $color;  /*Fallback */
    background: rgba($color, $opacity);
}

@mixin card-content($num:20,$line:4){
    ::v-deep .card__content {
        margin-right: #{$num}px;
        margin-bottom: #{$num}px;

        &:nth-child(#{ $line }n) {
            margin-right: 0;
        }
    }
}

// 定义字体颜色
@mixin title-color-opacity($color,$opacity) {
    color: $color; /*Fallback */
    color: rgba($color, math.div($opacity, 10));
}

// 定义背景颜色颜色
@mixin title-background-opacity($color,$opacity) {
    background-color: $color; /*Fallback */
    background-color: rgba($color, math.div($opacity,10));
}
