@use 'sass:math';
@import '../mixin/index.scss';
$minOpacity: 0 !default;
$maxOpacity: 10 !default;

$color-list: (
                (1, #4c84ff),
                ('el-inner', $elInnerCol),
                ('b-title', $bTitleCol),
                ('b-sub-title', $bSubTitleCol),
                ('b-content', $bContentCol),
                ('b-white', $bWhite),
                ('b-black', $bBlack),
                ('b-red', $red),
                ('b-blue', $blue),
                ('b-green', $green),
                ('b-orange', $orange),
                ('light-orange', $lightOrange),
                ('b-divider', $bDividerCol),
                ('light-black', $lightBlack),
                ('light-grey', $lightGrey),
                ('dark-grey', $darkGrey),
                ('middle-grey', $middleGrey),
                ('dark-black', $darkBlack),
                ('cyan-grey', $cyanGrey),
) !default;

@each $label, $value in $color-list {
  .col-#{$label} {
    color: $value
  }
;
  .bg-#{$label} {
    background: $value;
  }
}

@for $num from $minOpacity through $maxOpacity {
  .opacity-#{$num} {
    opacity: math.div($num, 10);
  }

  // bTitle
  .col-b-title-#{$num} {
    @include title-color-opacity($bTitleCol,$num);
  }
  .col-bg-title-#{$num} {
    @include title-background-opacity($bTitleCol,$num);
  }

  // white
  .col-b-white-#{$num} {
    @include title-color-opacity($bWhite,$num);
  }
  .col-bg-white-#{$num} {
    @include title-background-opacity($bWhite,$num);
  }
}



.gray {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
}
